
  <ion-item>
    <ion-label position="stacked">Reschedule Date</ion-label>
    <ion-select interface="popover" value="25">
      <ion-select-option value="25">25-10-2021</ion-select-option>
      <ion-select-option value="28">28-10-2021</ion-select-option>
      <ion-select-option value="30">30-10-2021</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-grid class="mt-1">
    <ion-row>
      <ion-col size="12" class="text-center">
        <ion-button (click)="closePopup()">SAVE</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
