ion-content {
    --ion-background-color:#f8f8f8;
}
ion-header {
    position: absolute;
}
ion-toolbar {
    --ion-backgroung-color: transparent;
    --opacity: 0;
}

.hero-block-styles {
    .hb-styles2 {
        position: absolute;
        width: 5.3rem;
        height: 5.3rem;
        border: 0.9rem solid #94c11f;
        opacity: 0.1;
        top: 0%;
        right: -2rem;
        z-index: -10;
        border-radius: 50%;
    }
    .hb-styles2-2 {
        position: absolute;
        width: 8rem;
        height: 8rem;
        border: 1rem solid #181a47;
        opacity: 0.1;
        top: 40%;
        left: -4rem;
        z-index: -10;
        border-radius: 50%;
    }
    .hb-styles3 {
        position: absolute;
        width: 15rem;
        height: 15rem;
        bottom: 0rem;
        right: -7rem;
        z-index: -10;
        border-radius: 50%;
        background: white;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.1), #181a47);
        opacity: 0.2;
    }
}

.btn-wrap {
    margin-top: 1.5rem;
    text-align: center;
}
ion-button {
    --border-radius:7px;
    --ion-color-primary :#94c11f;
    --color:#ffffff;
    --padding-top: 20px;
    --padding-bottom:20px;
}

ion-card {
    --ion-background-color: transparent;
    box-shadow: none;
    padding: 0;
    margin: 0;
    .infograp {
        height: 15rem;
        max-height: 18rem;
    }
    ion-img {
        height: 5rem;
    }
    ion-card-content {
        .form-box {
            background-color: #ffffff;
            padding: 1.2rem;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
            ion-img {
                height: 10rem;
                max-height: 11rem;
            }
            h3 {
                font-size: 1.2rem;
                font-weight: 500;
                margin-bottom: 1.5rem;
                color:#181a47;
            }
        }
        .text-center {
            text-align: center;
        }
        ion-label {
            font-size: 1.2rem;
        }
        ion-item {
            --color: #181a47;
            --highlight-color-focused: #94c11f;
            --padding-start:0px;
            ion-icon {
                margin-top: 39px;
            }
        }
        ion-item.item-has-focus ion-label {
            color: #181a47;
        }
        ion-checkbox {
            --background-checked:#181a47;
            --border-color-checked: #181a47;
        }
    }
    ion-button {
        font-size:1rem;
        letter-spacing: 0px;
        text-transform: uppercase;
    }
}
.mb-4 {
    margin-bottom: 1.2rem!important;
}
.mb-3 {
    margin-bottom: 1rem!important;
}

ion-card {
    --ion-background-color: transparent;
    box-shadow: none;
    padding: 0;
    margin: 0;
    .sm-height {
        height: 2.45rem;
        margin-bottom: 1.4rem;
    }
    ion-img {
        max-height: 14rem;
        height: 13.6rem;
    }
    ion-card-content {
        text-align: center;
        h2 {
            font-weight: 500;
            letter-spacing: -2px;
            font-size: calc(1.475rem + 2.7vw);
            color: #181a47;
        }
        p {
            font-size: 1rem;
            font-weight: 400;
            color: #181a47;
        }
    }
    ion-button {
        font-size:1rem;
        letter-spacing: 0px;
        text-transform: uppercase;
    }
}
.top-gap {
    padding-top: 20px;
    visibility: visible !important;
    padding-bottom: 10px;
}