/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


// @font-face{font-family:'Siri';src:url('assets/fonts/Siri-Regular.eot?#iefix') format('embedded-opentype'),
// url('assets/fonts/Siri-Regular.otf') format('opentype'),
// url('assets/fonts/Siri-Regular.woff') format('woff'),
// url('assets/fonts/Siri-Regular.ttf') format('truetype'),
// url('assets/fonts/Siri-Regular.svg#Siri-Regular') format('svg');font-weight:400;font-style:normal;}
// @font-face{font-family:'Siri';src:url('assets/fonts/Siri-Bold.eot?#iefix') format('embedded-opentype'),
// url('assets/fonts/Siri-Bold.otf') format('opentype'),
// url('assets/fonts/Siri-Bold.woff') format('woff'),
// url('assets/fonts/Siri-Bold.ttf') format('truetype'),
// url('assets/fonts/Siri-Bold.svg#Siri-Bold') format('svg');font-weight:700;font-style:normal;}
// @font-face{font-family:'Siri';src:url('assets/fonts/Siri-Light.eot?#iefix') format('embedded-opentype'),
// url('assets/fonts/Siri-Light.otf') format('opentype'),
// url('assets/fonts/Siri-Light.woff') format('woff'),
// url('assets/fonts/Siri-Light.ttf') format('truetype'),
// url('assets/fonts/Siri-Light.svg#Siri-Light') format('svg');font-weight:300;font-style:normal;}
// @font-face{font-family:'Siri';src:url('assets/fonts/Siri-Medium.eot?#iefix') format('embedded-opentype'),
// url('assets/fonts/Siri-Medium.otf') format('opentype'),
// url('assets/fonts/Siri-Medium.woff') format('woff'),
// url('assets/fonts/Siri-Medium.ttf') format('truetype'),
// url('assets/fonts/Siri-Medium.svg#Siri-Medium') format('svg');font-weight:500;font-style:normal;}
// @font-face{font-family:'Siri';src:url('assets/fonts/Siri-Thin.eot?#iefix') format('embedded-opentype'),
// url('assets/fonts/Siri-Thin.otf') format('opentype'),
// url('assets/fonts/Siri-Thin.woff') format('woff'),
// url('assets/fonts/Siri-Thin.ttf') format('truetype'),
// url('assets/fonts/Siri-Thin.svg#Siri-Thin') format('svg');font-weight:100;font-style:normal;}

// html{--ion-font-family:'Siri', sans-serif; }
html {--ion-font-family: "Poppins", sans-serif;}